<svg class="" viewBox="0 0 54 72" style="display: inline-block; fill: currentcolor; height: 1.25em; max-width: 100%; position: relative; user-select: none; vertical-align: bottom;"><g><path d="M38.723 12c-7.187 0-11.16 7.306-11.723 8.131C26.437 19.306 22.504 12 15.277 12 8.791 12 3.533 18.163 3.533 24.647 3.533 39.964 21.891 55.907 27 56c5.109-.093 23.467-16.036 23.467-31.353C50.467 18.163 45.209 12 38.723 12z"></path></g></svg>
{{#if count}}
    <span class="count">
        {{count}}
    </span>
{{/if}}